@import url('https://fonts.googleapis.com/css?family=Raleway');

.Chart {
    height: 500px;
    width: 60%;
    margin: 20px auto;
}

.Header {
    width: fit-content;
    margin: 0px auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.HandT {
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
.Temp {
    text-align: center;
    width: 50%;
    margin: 0px auto;
    padding: 2px;
}

.Humi {
    width : 50%;
    padding: 2px;
    text-align: center;
    margin: 0px auto;
}
@media only screen and (max-width: 768px) {
    .Chart {
        width: 100%;
    }
}